* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navigation {
    background-color: #333;
    padding: 1rem;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item:hover {
    background-color: #555; 
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  } 

h1#h1-calendar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3rem 0rem 2rem 0rem;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 4rem;
}

h1#h1-info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
  padding: 1rem 3rem 1rem 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button {
  padding: 0.8rem 2rem 0.8rem 2rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  background-color: #555;
}

iframe {
    box-shadow: rgba(55, 73, 147, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}